.tours-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 #f8f9fa;
  overflow-y: auto;
}

.tours-scrollbar::-webkit-scrollbar {
  background-color: #f8f9fa;
  width: 10px;
  height: 10px;
}

.tours-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #000, #555);
  border-radius: 10px;
  border: 2px solid #f8f9fa;
}

.tours-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #333, #999);
}

.tours-scrollbar::-webkit-scrollbar-track {
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 2px;
}

.tours-scrollbar::-webkit-scrollbar-button {
  display: none;
}
